#block-contactform,
#block-taconicb5-content {
    .hbspt-form {
        fieldset {
            max-width: 1280px;
            &.form-columns-2 {
                .hs-form-field:nth-child(1) {
                    padding-right: 20px;
                    @include media($mobile-sm) { 
                        padding-right: 0;
                    }
                }
                .hs-form-field + .hs-form-field {
                    padding-left: 20px;
                    @include media($mobile-sm) { 
                        padding-left: 0;
                    }
                }
            }
            legend {
                font-size: 1em;
            }
        }
        .hs-form {
            .hs-form-field {
                margin-bottom: 1em;
                label {
                    color: #707070;
                    display: block;
                }
                select.hs-input,
                textarea.hs-input,
                input[type="text"],
                input[type="email"] {
                    border: 1px solid #707070;
                    height: 2em;
                    width: 100%;
                    border-radius: 0;
                    background-color: #fff; 
                }
                select.hs-input {
                    padding-right: 9px;
                }
                textarea.hs-input {
                    height: 10em;
                }
            }
            .inputs-list {
                list-style-type: none;
                padding-left: 0;
                li span {
                    margin-left: .3em;
                }
            }
            .hs_submit {
                text-align: center;
                margin-bottom: 1.5em;
                input.form_button {
                    background-color: $tac-purple;
                    color: #fff;
                    border: 0;
                    padding: .2em 2em;
                    text-align: center; 
                }
            }
        }
    }
}
