.view-home-hero-slide {
    .views-row {
        position: relative;
        height: calc(100vw / 3.2);
        margin-left: -.5rem;
        margin-right: -.5rem;
        margin-bottom: 1rem;
        .views-field-field-background-image {
            position: absolute;
            top: 0;
            left: 0;
        }
        .views-field-body {
            position: relative;
            z-index: 500;
            color: #fff;
            .field-content {
                padding-top: 13em;
                padding-left: 14em;
                p {
                    font-size: 2.9em;
                    line-height: 1.8em;
                    span {
                        font-size: .9em;
                        margin-left: -1em;
                    }
                }
                @include media($mobile-sm) {
                    padding-top: 1em;
                    padding-left: 1.1em;
                    p {
                        font-size: 1.7em;
                        span {
                            font-size: .7em;
                            margin-left: 0;
                        }
                    }
                }
                @include media($iphone8-horz) {
                    p {
                        font-size: 1.2em;
                    }
                }
            }
        }
        .views-field-field-cta-link {
            position: relative;
            z-index: 500;
            .field-content {
                padding-left: 29em;
                padding-top: 1em;
                a {
                    color: #fff;
                    text-decoration: none;
                    border: 2px solid #fff;
                    padding: .3em .6em;
                    font-size: 1.2em;
                    i {
                        margin-left: 1.1em;
                        font-size: 1.3em;
                    }
                    @include media($iphone8-horz) {
                        font-size: 1em;
                        i {
                            font-size: .9em;
                        }
                    }
                }
                @include media($mobile-sm) {
                    padding-left: 1.1em;
                    
                }
            }
            
        }
    }
}